<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div th:with="person = ${session.user}">
    <div th:if="${person}">
        <div>
            <b>Hello </b> <span th:utext="${person.getName()}"></span>
        </div>
        <a th:href="@{/user/logOut}"> LogOut</a>
    </div>

    <div th:unless="${person}">
        <div>
            <a th:href="@{/user/authorization}"> Authorization</a>
            <a th:href="@{/user/registration}"> Registration</a>
        </div>
    </div>
</div>
</body>
</html>